// app global css in SCSS form

//$primary   : #35699B;
$primary   : #0097A7;
$secondary : #084887;

$tertiary  : #efefef;
$quaternary: #c38c39;
$quinary   : #e8672a;

$accent    : #9C27B0;
$dark      : #021f3d;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #00d8ff;
$warning   : #F2C037;

$table-header  : #bbdefb;
$sticky-column: #f5f5dc;
//$baseMenu : #35699B;

$state1  : #03A9F4;
$state2  : #FFC107;
$state3  : #795548;
$state4  : #3F51B5;
$state5  : #2196F3;
$state6  : #4CAF50;
$state7  : #f44336;
$state8  : #FF5722;
$state9  : #E91E63;

.bg-primary {
  background-color: $primary !important;
}
